*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.application-container{
    display: flex;
    width:100%;
    height: 100vh;
}

/* Side bar styles */
.sidebar{
    position: relative;
    width:70px;
    height: 100vh;
    display:flex;
    gap:20px;
    flex-direction:  column;
    background-color:#f6f6f6;
    padding: 24px;
    transition: all 0.3s;
}

.sidebar .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0px;
    padding-bottom: 10px;
    border-bottom:1px solid #d9d9d9;
}

.user-img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border:2px solid #757575;
}

.side-nav{
    flex: 1;
}

.side-nav-menu .title{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
    color:#757575;
}

.side-nav-menu ul li{
    list-style-type: none;
    margin-bottom:5px;
    margin-left: -30px;
}

.side-nav-menu ul li .links{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    font-weight: 500;
    color:#757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition:all 0.3s;
}

.side-nav-menu ul li > .links:hover, .active, .active > .text, .active > .icons{
    color: #4e4e4e;
    background-color: #efecec;
}

.side-nav-menu ul li .icons{
    font-size: 20px;
}

.side-nav-menu ul li .text{
    flex: 1;
}

.side-nav-menu:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #c7c4c4;
}

.side-menu-btn{
    position: absolute;
    right: -14px;
    top:3.5%;
    width:28px;
    height: 28px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor:pointer;
    color:#757575;
    border:2px solid #f6f6f6
}

.side-menu-btn:hover .icons{
    color:#7c7a7a
}

.side-menu-btn .icons{
    transition: all 0.3s;
}

.sidebar.sidebar-active{
    width:75px
}



.sidebar.sidebar-active .side-nav-menu .title{
    text-align: center;
}

.sidebar.sidebar-active .side-nav-menu > ul > li > .links{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sidebar.sidebar-active .side-nav-menu > ul > li > .links .text{
    position: absolute;
    left:70px;
    top:50%;
    transform: translateY(-50%);
    padding:5px;
    border-radius: 4px;
    color:#fff;
    background-color:#4b5563;
    opacity:0;
    visibility:hidden;
    transition: all 0.3s;
    width: max-content;
}

.sidebar.sidebar-active .side-nav-menu > ul > li > .links:hover .text{
    left:50px;
    opacity:1;
    visibility:visible;
}

.side-nav-btn{
    border:none;
    background-color: transparent;
}


.page-container{
    flex:1;
}

/* * Tag Input */

.tag-input-container{
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    gap:1rem;
}
.tag-input{
    font-size: .875rem;
    background: transparent;
    border: 1px solid rgb(206, 205, 205);
    padding: 0.5rem 0.75rem;
    outline:none;
    border-radius: 0.25rem;
}

.tags-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:0.5rem;
    margin-top:0.5rem;
}
.tags{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size: .875rem;
    color:rgb(15,23,42);
    background-color:rgb(241,245,249) ;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
}


.tag-add-icon{
    font-size: 1rem;
    color:  rgb(129,140,248);
    cursor: pointer;
}
.tag-add-icon:hover{
    color: rgb(79,70,229);
}

.tag-remove{
    border: none;
    background: transparent;
    font-size: 0.5rem;
}

.close-icon{
    font-size: 0.5rem;
}


/* * Toast messages styles */
.toast-container{
    position: absolute;
    top:10px;
    right: 10px;
    transition-property: all;
    transition-duration: 400ms
}
.toast-container-styles{
    min-width: 13rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 0.375rem;
}
.toast-container-styles::after{
    content: '';
    width: .5rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.toast-container-styles.delete::after{
    background-color: #ef4444;
}
.toast-container-styles.default::after{
    background-color: #22c55e
}


.toast-container-flex{
    display: flex;              
    align-items: center;        
    gap: 0.75rem; 
    padding:0.5rem 1rem;              
}
.toast-icon-style{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
}
.toast-icon-t{
    color:#16a34a;
    font-size: 1rem;
}
.toast-icon-x{
    color:#dc2626;
    font-size: 1rem;
}
.toast-msg{
    color:#6b7280;
    font-size: .875rem;
    margin: 0;
}


/* * Empty Card page */
.emptyCard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emptyCard-img{
    width: 450px;
}
.empty-text{
    text-align: center;
    width: 50%;
    font-size: .875rem;
    font-weight: 500;
    color: #374151;
    line-height: 1.75rem;
    margin-top: 1.25rem;
}

/* Profile info */
.profileinfo-container{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.profilepic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    background-color:#4f46e5 ;
}

.settings-container{
    margin-right: auto; 
    margin-left: auto;
    padding:3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings-form{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding:0px 30px;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.profile-info{
    display: flex;
}

.profile-info p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.edit-profile{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.email-container{
    display: flex;
    width:100%;
    height: 40px;
}
.email-container p{
    background-color: #e5e7eb;
    width:20%;
    height: 100%;
    padding-top: 5px;
    text-align:center;
}

.edit-user{
    display:flex;
    gap:20px;
}

.profile-btn{
    padding:10px;
    border:none;
    outline:none;
    color:white;
    background-color: #818cf8;
    border-radius: 10px;
}

.profile-btn:hover{
    transform: scale(1.1);
}

.email-info{
    padding:5px
}

/* Filter by */
.filter-container{
    position: absolute;
    right: 5rem;
    top:1.5rem;
    width:200px;
    height:40px;
}