@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,900&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Body */
.auth-body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
}

/** Common container */
.form-container {
    background-color: #222;
    height: 550px;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.form-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
}

/** Sign up form */
.signup-container {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    transition: 0.3s ease;
}

.form-holder {
    margin-top: 50px;
    border-radius: 15px;
    padding:10px 0px;
}

.form-container .form-title {
    color: white;
    text-align: center;
    font-size: 28px;
}

.form-container .submit-btn {
    background-color: aquamarine;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 100%;
    display: block;
    padding: 15px 45px;
    margin: 15px auto;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-container .submit-btn:hover {
    background-color: rgb(30, 205, 146);
}

.form-container .signup-container.slide-up {
    top: 5%;
    transform: translate(-50%, 0);
}

.form-container .slide-up .form-holder, .form-container .slide-up .submit-btn {
    opacity: 0;
    visibility: hidden;
}

.form-container .slide-up .form-title {
    top: 5%;
    font-size: 16px;
    cursor: pointer;
}

/** Login Styles */
.login-container {
    background-color: #fff;
    z-index: 5;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease;
}

.form-container .login-container.slide-up {
    top: 90%;
}

.login-container::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 200%;
    height: 250px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    top: -20px;
    z-index: 4;
    transition: 0.3s ease;
}

.form-container .login-wrapper {
    z-index: 5;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    text-align: center;
    transition: 0.3s ease;
}

.form-container .login-container.slide-up .login-wrapper {
    top: 10%;
    transform: translate(-50%, 0);
}

.form-container .login-container .form-title {
    color: #000;
}

.form-container .login-container.slide-up .form-title {
    margin: 0;
}


.form-container .login-container .submit-btn {
    margin-bottom: 10px;
}

.form-container a {
    font-size: 13px;
    text-decoration: none;
    color: aquamarine;
}

.form-container a:hover {
    text-decoration: underline;
}

.title-btn {
    border: none;
    background-color: transparent;
}

.signup-btn {
    border: none;
    background-color: transparent;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signup-btn h2 {
    text-align: center;
    color: white;
    margin: 0;
}


.required{
    color:red
}

.major-container{
    width:60%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.error-text{
    color: rgb(239,68,68);
    padding-top: 1rem;
    font-size: .75rem;
}