*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.focus-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 2.5rem;
    gap: 2rem; 
}

.progressbar-container{
    width: 900px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.progressbar{
    width:300px;
    height: 300px;
}
.focus-title{
    border: none;
    font-size: larger;
    background-color: transparent;
}
.focus-title h2{
    text-align: center;
    color:darkgray
}

.focus-title:active{
    text-decoration: underline;
    color:darkgray
}

.play-btn{
    background-color: transparent;
    border: none;
}

.play-icon{
    font-size: 50px;
    color:rgb(129,140,248);
}


/** Modal styles */
.modal-container{
    position: relative;
}

.modal-close-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-0.75rem;
    right:-0.75rem;
    border: none;
}

.modal-close-icon{
    color:rgb(161,161,170);
    font-size: 1.25rem;
}

.modal-close-btn:hover{
    background-color: rgb(190, 190, 192);
}
.modal-close-btn:hover>.modal-close-icon{
    color:black;
}

label{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* for slider inside modal */
.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider{
    width: 60%;
    height: 15px;
    border: 2px solid #fbbf24;
    border-radius: 20px;
}

.thumb{
    margin-top: -3px;
    background-color: #fbbf24;
    cursor:pointer;
    width: 19px;
    height: 19px;
    border-radius: 20px;
}
.slider.green{
    border-color: #84cc16;
}
.thumb.green{
    background-color: #84cc16;
}


.popup-title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input-label{
    color:rgb(161,161,170);
    font-size: .75rem;
    margin: 0px ;
}

.focus-popup-input{
    font-size: .7rem;
    color:rgb(15,23,42);
    border:none; 
    outline: none;
}

.popup-btn{
    background-color: rgb(129,140,248);
    font-size: medium;
    margin-top: 1.25rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
}

.popup-btn:hover{
    background-color: rgb(79,70,229);
}

.focus-modal{
    width:30%;
    max-height:75vh;
    background-color: #fff;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;;
    padding: 1.25rem;
    overflow: auto;
}



/* Right side container */
.focus-stats-container{
    width: 100%;
    height: 650px;
    /* flex:1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.stats-container{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.overview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin-bottom: 20px;
}

.overview div{
    height:60px;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: #fafafa;
}

.stat-label{
    font-size: 0.75rem;
    color:#9ca3af
}


.focus-record {
    margin-top: 20px;
}
  
.focus-record h3 {
    margin-bottom: 10px;
}
  
.focus-record-content {
    max-height: 100%; /* Adjust as needed */
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.records-flex{
    display: flex;
    justify-content: space-between;
    padding:5px;
    background-color: #f4f4f5;
    border-radius: 10px;
}

.record-icon{
    font-size: 1rem;
    color:rgb(129,140,248);
    margin: 0px 5px;
    cursor: pointer;
}

.record-label{
    margin: 0px 5px;
}

.record-time{
    margin: 0px 5px;
}

.group-records{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.update-section{
    display: flex;
    justify-content: space-between;
}

.edit-icon, .del-icon{
    font-size: 1rem;
    color:#9ca3af;
    margin: 0px 5px;
    cursor: pointer;
}

.edit-icon:hover{
    color: #22c55e;
}

.del-icon:hover{
    color:#ef4444
}