*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Whole Habits page container */
.habitsPage-container{
    width:100%;
    min-height: 100vh;
    margin-right: auto; 
    margin-left: auto;
    padding:3rem 2rem;
}

/* Grid container for habits */
.habits-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
    margin-top: 2rem;
}

/* Styles for opening the Modal */
.addHabits-icon{
    font-size: 25px;
    color: #fff;
}

.add-habits-btn{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: rgb(129,140,248);
    position: absolute;
    right: 2.5rem;
    bottom:2.5rem;
    border: none;
}
.add-habits-btn:hover, .add-habits-btn:active{
    background-color: rgb(79,70,229);
}

/* Habit card component */
.habits-container{
    border:0.25px solid rgb(215, 210, 210);
    border-radius: 0.25rem;
    background-color: #fff;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.habits-container:hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: all ease-in-out;
}

.habits-title{
    font-size: 0.875rem;
    font-size: medium;
   
}

.habits-subContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.habits-streak{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

.streak{
    width: 1.25rem;
    height: 1.25rem;
    border: none;
    border-radius: 100%;
}


.habits-btns{
    display: flex;
    align-items: center;
    gap: 15px;
}

.habits-edit-btn, .habits-delete-btn,.zoom-icon{
    font-size: 1.25rem;
    color:#9ca3af;
    cursor:pointer;
}
.habits-edit-btn:hover{
    color:rgb(22,163,74);
}

.habits-delete-btn:hover{
    color:rgb(239,68,68);
}
.zoom-icon:hover{
    color:#fbbf24
}


/* * Add Edit component - Modal */
.habits-modal-container{
    position: relative;
}

.modal-close-icon{
    color:rgb(161,161,170);
    font-size: 1.25rem;
}

.modal-close-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-0.75rem;
    right:-0.75rem;
    border: none;
}

.modal-close-btn:hover{
    background-color: rgb(190, 190, 192);
}
.modal-close-btn:hover>.modal-close-icon{
    color:black;
}
.popup-title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.note-popup-input{
    font-size: 1.5rem;
    color:rgb(15,23,42);
    border:none;
    outline: none;
}

.input-label{
    color:rgb(161,161,170);
    font-size: .75rem;
}

.popup-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.note-popup-textarea{
    font-size: .875rem;
    color:rgb(15,23,42);
    border:none;
    outline: none;
    background-color: rgb(248,250,252);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.popup-btn{
    background-color: rgb(129,140,248);
    font-size: medium;
    margin-top: 1.25rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
}

.popup-btn:hover{
    background-color: rgb(79,70,229);
}

.notes-modal{
    width:40%;
    max-height:75vh;
    background-color: #fff;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;;
    padding: 1.25rem;
    overflow: auto;
}



.error-text{
    color: rgb(239,68,68);
    padding-top: 1rem;
    font-size: .75rem;
}