@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

.home-main {
    margin-top: 100px;
}

/* Video background */
#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-container {
    display: grid;
    place-items: center;
    height: 100%;
}

.home-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topline {
    font-size: 1.5rem;
}

/* Overlay Text */

.overlay {
    position: relative;
    z-index: 1;
}

.home-cols0 {
    height: 100%;
    padding: 7.5rem 0rem;
}

.cols1 {
    height: 100%;
    padding: 0 0.625rem;
}

.topline {
    display: block;
    position: relative;
    font-size: 2.1875rem;
    letter-spacing: 0.3125rem;
    color: rgb(61, 83, 95)
}

.topline::after {
    position: absolute;
    content: "";
    height: 0.25rem;
    width: 2.8125rem;
    bottom: 0.625rem;
    background-color: rgb(127, 0, 255);
}

.overlay-title {
    font-size: 3rem;
    margin: 1rem 0;
}

.overlay-para {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.overlay-btns .btn {
    margin: 0 1rem;
}


.overlay-title {
    display: block;
    font-size: 5.625rem;
    font-weight: 900;
    z-index: 2;
}

.multiText {
    color: #7f00ff;
    text-transform: capitalize;
}

.overlay-para {
    display: block;
    font-size: 1.2rem;
}

.overlay-btns {
    width: 100%;
    position: relative;
    left: -0.625rem;
    top: 2.8125rem;
}



@keyframes animateUser {
    50% {
        right: 30px;
        top: -5px;
    }
}