*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.top-nav-menu{
    margin: auto;
}

#top-nav-styles{
    padding-right:30px;
    padding-left: 30px;
    margin:20px;
    border-radius: 16px;
}

#top-nav-toggler{
    border:none;
    font-size: 1.25rem;
}

#top-nav-toggler:focus{
    box-shadow: none;
    outline: none;
}

#top-nav-menu-items{
    color:#666777;
    font-weight: 500;
    position: relative;
}

#top-nav-menu-items:hover, #top-nav-menu.active{
    color: #000;
}
#signup-btn{
    outline: auto #bd93f5;
    color:#bd93f5
}
#signup-btn:hover {
    background-color: #bd93f5;
    color: white;
    opacity:0.8
}





@media (min-width : 991px){
    #top-nav-menu-items::before{
        content:"";
        position: absolute;
        bottom:0;
        left:50%;
        transform :translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #bd93f5;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    #top-nav-menu-items:hover::before, #top-nav-menu-items.active::before{
        width: 100%;
        visibility:visible;
    }
}


.btn-styling{
    border: #bd93f5;
}




