*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/**  Note.js */
/* Whole Notes page container */
.notesPage-container{
    width:100%;
    min-height: 100vh;
    margin-right: auto; 
    margin-left: auto;
    padding:3rem 2rem;
}

/* Grid container for notes in Notes.js */
.notes-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    margin-top: 2rem;
}

/* Styles of Searchbar */
.searchbar-container{
    width: 250px;
    display: flex;
    align-items: center;
    padding:0px 1rem;
    background: #f1f5f9;
    border-radius: 0.375rem;
    position: absolute;
    left: 7rem;
    top:1.5rem;
}
.searchbar{
    background: transparent;
    border:none;
    width: 100%;
    font-size: .75rem;
    padding:11px 0px;
    outline: none;
    color:#9ca3af;
}
.search-icon{
    color:#9ca3af;
    font-size: 1rem;
    cursor: pointer;
}
.search-icon:hover{
    color:#374151;
}

.search-icons-container{
    display: flex;
    justify-content: space-between;
    gap:5px;
}

/* Styles for opening the Modal */
.addNotes-icon{
    font-size: 25px;
    color: #fff;
}

.add-notes-btn{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: rgb(129,140,248);
    position: absolute;
    right: 2.5rem;
    bottom:2.5rem;
    border: none;
}
.add-notes-btn:hover, .add-notes-btn:active{
    background-color: rgb(79,70,229);
}


/* Note card contained in NoteCard.js component */
.note-container{
    border:0.25px solid rgb(215, 210, 210);
    border-radius: 0.25rem;
    background-color: #fff;
    padding:1rem;
}
.note-container:hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: all ease-in-out;
}

.notes-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-title{
    font-size: 0.875rem;
    font-size: medium;
   
}

.note-date{
    font-size: 0.75rem;
    color:rgb(100,116,139);
}

.note-tag{
    font-size: 0.75rem;
    color: rgb(100,116,139);
}

.note-content{
    font-size: 0.75rem;
    color:rgb(71,85,105);
    margin-top: 0.5rem; 
}

.note-btns{
    display: flex;
    align-items: center;
    gap: 15px;
}

.note-subContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.note-edit-btn, .note-delete-btn,.zoom-icon{
    font-size: 1.25rem;
    color:#9ca3af;
    cursor:pointer;
}
.note-edit-btn:hover{
    color:rgb(22,163,74);
}

.note-delete-btn:hover{
    color:rgb(239,68,68);
}
.zoom-icon:hover{
    color:#fbbf24
}
.icon-btn{
    font-size: 1.25rem;
    color:#9ca3af;
    cursor:pointer;
}

.icon-btn:hover{
    color:rgb(129,140,248)
}


/* * Add Edit Pop up component - Modal */
.modal-container{
    position: relative;
}
.popup-title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.note-popup-input{
    font-size: 1.5rem;
    color:rgb(15,23,42);
    border:none;
    outline: none;
}

.input-label{
    color:rgb(161,161,170);
    font-size: .75rem;
}

.popup-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.note-popup-textarea{
    font-size: .875rem;
    color:rgb(15,23,42);
    border:none;
    outline: none;
    background-color: rgb(248,250,252);
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.popup-btn{
    background-color: rgb(129,140,248);
    font-size: medium;
    margin-top: 1.25rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
}

.popup-btn:hover{
    background-color: rgb(79,70,229);
}

.notes-modal{
    width:40%;
    max-height:75vh;
    background-color: #fff;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;;
    padding: 1.25rem;
    overflow: auto;
}

.modal-close-icon{
    color:rgb(161,161,170);
    font-size: 1.25rem;
}

.modal-close-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-0.75rem;
    right:-0.75rem;
    border: none;
}

.modal-close-btn:hover{
    background-color: rgb(190, 190, 192);
}
.modal-close-btn:hover>.modal-close-icon{
    color:black;
}

.error-text{
    color: rgb(239,68,68);
    padding-top: 1rem;
    font-size: .75rem;
}



/* Tool tip */
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}
  
.tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: #192733;
    padding: 5px;
    z-index: 1;
}
  
.hover-text:hover .tooltip-text {
    visibility: visible;
}
#bottom {
    top: 25px;
    left: -50%;
}
  
#bottom::before {
    top: -5%;
    left: 45%;
}  


/* OffCanvas  */
.tags-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust minmax value as needed */
    gap: 12px;
  }
  
.offCanvas-tags {
    padding: 5px;
    border-radius: 3px;
    background-color: #f4f4f5;
}

/* media query */
@media (min-width: 640px) {
    .notes-grid-container{
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .notes-grid-container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .notes-grid-container {
        max-width:1024px
    }
}
@media (min-width: 1280px) {
    .notes-grid-container {
        max-width:1280px
    }
}
