*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/**  Tasks.js */
/* Whole Tasks page container */
.tasksPage-container{
    width:100%;
    min-height: 100vh;
    margin-right: auto; 
    margin-left: auto;
    padding:3rem 2rem;
}

/* Grid container for tasks*/
.tasks-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    margin-top: 2rem;
}


/** Styles for opening the Modal */
.addTasks-icon{
    font-size: 25px;
    color: #fff;
}

.add-tasks-btn{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: rgb(129,140,248);
    position: absolute;
    right: 2.5rem;
    bottom:2.5rem;
    border: none;
}
.add-tasks-btn:hover, .add-tasks-btn:active{
    background-color: rgb(79,70,229);
}

/* * TaskCard component */
/* Note card contained in NoteCard.js component */
.taskCard-container{
    border:0.25px solid rgb(215, 210, 210);
    border-radius: 0.25rem;
    background-color: #fff;
    padding:1rem;
}
.taskCard-container:hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: all ease-in-out;
}

.taskCard-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskCard-title{
    font-size: 0.875rem;
    font-size: medium; 
}

.taskCard-date{
    display: flex;
    gap:3px;
    font-size: 0.75rem;
    color:black;
}
.taskCard-date p{
    font-size: 0.75rem;
    color:rgb(100,116,139)
}

.completed-btn{
    border:none;
    border-radius: 5px;
    padding:3px;
    color:white;
}

.taskCard-tag{
    font-size: 0.75rem;
    color: rgb(100,116,139);
}


.taskCard-subContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.taskCard-btns{
    display: flex;
    align-items: center;
    gap: 15px;
}

.taskCard-edit-btn, .taskCard-delete-btn,.taskCard-priority-btn{
    font-size: 1.25rem;
    color:#9ca3af;
    cursor:pointer;
}
.taskCard-edit-btn:hover{
    color:rgb(22,163,74);
}

.taskCard-delete-btn:hover{
    color:rgb(239,68,68);
}


/* * Add Edit Pop up component - Modal */
.modal-task-container{
    position: relative;
}
.modal-task-close-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-0.75rem;
    right:-0.75rem;
    border: none;
}

.modal-task-close-btn:hover{
    background-color: rgb(190, 190, 192);
}

.modal-task-close-icon{
    color:rgb(161,161,170);
    font-size: 1.25rem;
}

.modal-task-close-btn:hover>.modal-close-icon{
    color:black;
}

.popup-task-title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-popup-input{
    font-size: 1.5rem;
    color:rgb(15,23,42);
    border:none;
    outline: none;
}

.input-task-label{
    color:rgb(161,161,170);
    font-size: 1rem;
}

.popup-task-date{
    margin: 20px 0px;
    display: flex;
}

.task-date-input{
    margin-left: 10px;
}

.popup-task-priority{
    margin: 20px 0px;
}

.popup-task-btn{
    background-color: rgb(129,140,248);
    font-size: medium;
    margin-top: 1.25rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #fff;
}

.popup-task-btn:hover{
    background-color: rgb(79,70,229);
}

.tasks-modal{
    width:40%;
    max-height:75vh;
    background-color: #fff;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;;
    padding: 1.25rem;
    overflow: auto;
}


.error-task-text{
    color: rgb(239,68,68);
    padding-top: 1rem;
    font-size: .75rem;
}




/** media query */
@media (min-width: 640px) {
    .tasks-grid-container{
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .tasks-grid-container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .tasks-grid-container {
        max-width:1024px
    }
}
@media (min-width: 1280px) {
    .tasks-grid-container {
        max-width:1280px
    }
}